.theseed-dark-mode {
    body .Liberty,
    body {
    	background-color: black;
    	color-scheme: dark;
    	color: #ddd;
    }
    
    pre {
        background-color: #2d2f34;
    }
    
    .btn.btn-secondary.tools-btn {
    	background: black;
    	color: #ddd;
    }
    
    button.btn.btn-secondary.tools-btn.dropdown-toggle {
    	background: black;
    	color: #ddd;
    }
    
    ul#live-recent-list {
    	background-color: black;
    }
    
    a.dropdown-item {
        color: #ddd;
    }

    .dropdown-menu {
        background-color: #16171A;
        
        &.dropdown-menu-right {
        	background: #16171A;
        }
        
        .dropdown-item:focus,
        .dropdown-item:hover {
        	background-color: #383b40;
        }
    }
    
    a {
    	color: #E69720;
    }
    
    a:hover {
    	color: #b3771d;
    }
    
    div#bottom a {
    	color: #E69720;
    }
    
    .Liberty {
        .content-wrapper {
            .liberty-content {
                .liberty-content-header {
                	background-color: black;
                    .title > h1 {
                    	color: #ddd;
                    }
                }
                
                .liberty-content-main {
                	background-color: black;
                	color: #ddd;
                }
            }
            
            .liberty-footer {
            	background-color: black;
            	color: #ddd;
            }
        
            .liberty-content .liberty-content-header,
            .liberty-content .liberty-content-main,
            .liberty-footer {
            	border-color: #777;
            }
            
            .liberty-content .liberty-content-header .title .namespace {
                color: #c7c7c7;
            }
            
            .liberty-content .liberty-content-header .title>h1>a {
                color: white;
            }

            .liberty-sidebar .liberty-right-fixed .live-recent {
                .live-recent-header .nav .nav-item,
                .live-recent-content .live-recent-list li,
                .live-recent-footer,
                .live-recent-content {
                	border-color: #777;
                }
                
                .live-recent-header .nav .nav-item .nav-link.active,
                .live-recent-header .nav .nav-item .nav-link:active,
                .live-recent-header .nav .nav-item .nav-link:focus,
                .live-recent-header .nav .nav-item .nav-link:hover {
                	background: black;
                	color: #ddd;
                }
                
                .live-recent-header .nav .nav-item .nav-link.active::before {
                	border-color: #e1e8ed;
                }
                
                .live-recent-footer {
                	background-color: black;
                }
                
                .live-recent-footer .label {
                	background-color: #2d2f34;
                }
                
                .live-recent-footer .label:hover {
                	background-color: #383b40;
                }
            }
            
            .footer-recent .live-recent-footer {
            	background-color: black;
            }
        }

        .nav-wrapper {
            background-color: #2d2f34;

            .navbar {
                .navbar-nav .nav-item .nav-link:hover {
                    background-color: #383b40;
                }
                
                .navbar-login .login-dropdown-menu .username,
                .navbar-login .login-dropdown-menu .username:hover {
                	color: #ddd;
                }

                .form-inline {
                    .form-control {
                    	background-color: black;
                    	color: #ddd;

                        &::placeholder {
                        	color: #ddd;
                        }
                    }
                    
                    .btn {
                    	background-color: black;
                    	color: #ddd;

                        &:focus,
                        &:hover {
                        	background-color: #383b40;
                        	border-color: #ddd;
                        }
                    }
                }
            }
        }
    }
}
